---
// import { postSeedSites } from "./api/seedSites";
import Layout from "../layouts/Layout.astro";

// Despliegue con adaptador

// const seed = await postSeedSites("" as unknown as APIContext);

// const seedRes = await seed.json();

// console.log(seedRes);

export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <section class="flex flex-col items-center gap-8">
    <h1>SPA COLONIA TOVAR</h1>

    <a class="rounded bg-terracotta-soft px-4 py-4" href="/Posadas/">Posadas</a>
  </section>
</Layout>
