---
import Layout from "../layouts/Layout.astro";
import { sites } from "../uitls/sites";
import { Site } from "../components/Site";
---

<Layout title="Welcome to Astro.">
  <section class="flex justify-center">
    <div
      class="flex flex-wrap w-4/5 max-w-6xl justify-evenly gap-y-5 lg:gap-y-14 gap-x-1 overflow-auto"
    >
      {sites.map((site) => <Site client:visible {...site} />)}
    </div>
  </section>
</Layout>

<style>


</style>
