---
import "../styles/Normalize.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="h-[200vh]">
    <slot />
  </body>
</html>
<style is:global>
  *::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  *::-webkit-scrollbar:vertical {
    width: 1em;
  }

  *::-webkit-scrollbar-button:increment {
    display: none;
  }

  *::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  *::-webkit-scrollbar-thumb,
  p::-webkit-scrollbar-thum,
  textarea::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
    background-color: var(--csr);
    border-radius: 10px;
    border: 6px solid var(--cpr);
  }

  p::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
    border-color: hsl(224, 71%, 4%);
  }

  *::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  :root {
    --cpr: hsl(0, 0%, 35%);
    --csr: hsl(0, 0%, 95%);
    --angle: 90deg;
    --terrecotta-soft: hsl(8, 100%, 5%);
    --terracotta: hsl(8, 90%, 40%);
    background-color: var(--cpr);
    color: var(--csr);
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
  }

  .figure-border {
    -moz-border-image: conic-gradient(
        from var(--angle),
        var(--terrecotta-soft),
        var(--terracotta) 0.4turn,
        var(--terracotta) 0.4turn,
        var(--terrecotta-soft) 0.6turn
      )
      30;
    border-image: conic-gradient(
        from var(--angle),
        var(--terrecotta-soft),
        var(--terracotta) 0.4turn,
        var(--terracotta) 0.4turn,
        var(--terrecotta-soft) 0.6turn
      )
      30;

    -moz-animation: border-rotate 8s linear infinite;
    animation: border-rotate 8s linear infinite;
  }

  @keyframes border-rotate {
    to {
      --angle: 450deg;
    }
  }
</style>
